*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.item{
    background-color: green;
    height: 200px;
    margin-top: 12px;
}
.item1{
    background-color: gold;
    height: 40px;
    margin-top: 12px;
}
.main{
    display: flex;
    margin: 0 32px;
}
.sidebar{
    width: 300px;
    background-color: green;
}
.content{
    flex-grow: 1;
    /* chiếm hết luôn heheeh */
    background-color: orange;
}

@media  (max-width: 1023px){
    .hide-tablet{
        display:none;
    }
}